button {
  cursor: pointer;
}

.btn-primary {
  padding: 0.4rem;
}

/* PlayList */
#playlist {
  text-align: center;
}
#playlist > ul {
  list-style: none;
}
.item-btn {
  background-color: transparent;
  border: none;
  padding: 4px;
  width: 300px;
}
.item-btn:hover {
  background-color: rgba(0, 0, 0, 0.118);
}
.item-btn:active {
  background-color: rgba(0, 0, 0, 0.256);

}

.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image {
  padding-right: 12px;
  width: 50px;
  height: 35px;
}

.image img {
  height: 100%;
}

/* Player */
#player-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: silver;
  animation: bottomAnimation .6s;
}

#player-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.duration {
  margin-left: 20px;
}


@keyframes bottomAnimation {
    0% {bottom: -80px;}
    100% {bottom: 80px;}
}